.blogs-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

/*--------------------- responsive ---------------------*/
@media only screen and (max-width: 600px) {
    .blogs-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}