.car-container {
    display: grid;
    margin-top: 80px;
    margin-bottom: 40px;
    justify-content: center;
    /* align-items: center; */
    grid-template-columns: repeat(2, 1fr);
}

.homePage-customer-reviews {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
    height: 400px;
}

.car-img img {
    width: 100%;
}

.car-btn {
    background-color: #004B94;
}

.reviews-btn {
    display: flex;
    justify-content: center;
}

.reviews-btn .btn {
    border: 0;
    text-decoration: none;
    padding: 10px 50px;
    background-color: #004B94;
    color: #ffff;
    border-radius: 5px;
}

.reviews-btn .btn:hover {
    background-color: #05274a;
}

/*--------------------- responsive ---------------------*/
@media only screen and (max-width: 600px) {
    .car-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .homePage-customer-reviews {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 700px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .car-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .homePage-customer-reviews {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 450px;
    }

}