.chart-container {
    margin-top: 80px;
    display: grid;
    justify-content: center;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
}

.pieChart,
.treemap,
.lineChart,
.radarChart {
    display: flex;
    justify-content: center;
}


/* responsive */
@media only screen and (max-width: 900px) {
    .chart-container {
        grid-template-columns: repeat(1, 1fr);
    }
}